* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 255, 95);
}

header {
    background-image: linear-gradient(transparent, black), url(images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: scroll, fixed;
    height: 50vh;
    width: 100%;
    position: relative;
    text-align: center;
}

.header-container {
    position: absolute;
    color: white;
    bottom: 0;
    padding: 15px;
}

.header-container h1 {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: yellow;
    font-size: 3em;
}

.header-container h2 {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-style: italic;
    font-weight: normal;
    font-size: 2.25em;
}

.container {
    margin: 1em 2em;
}

.main-text {
    font-size: 1.25em;
}

.slider {
    background-color: #ccc;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}

.slider img {
    width: 25em;
}

.slideshow {
    white-space: nowrap;
}

.slideshow figure {
    display: inline-block;
}

.form-title {
    padding: 1em;
    font-size: 1.5em;
    margin-bottom: 10px;
    background-color: rgb(180, 180, 0);
}

.form-container {
    padding: 2%;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(180, 180, 0);
}

.form-label {
    font-size: 1.25em;
}

.form-label input {
    display: block;
    width: 100%;
}

.btn {
    background-color: rgb(255, 255, 95);
    display: block;
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 10px;
    font-weight: bold;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer li {
    display: inline;
    padding: 0 20px;
}

.footer-text {
    text-align: center;
    font-size: 1.25em;
    font-style: italic;
}

.footer-links img {
    filter: invert(0%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-links img:hover {
    filter: invert(50%);
}

@media screen and (min-width: 1024px) {
    
}